.editor {
  width: 100%;
  display: flex;
}

.editor-canvas {
  width: calc(100% - 250px);
  height: 100vh;
  background-color: rgb(233, 239, 242);
}

.editor-picker {
  padding: 25px;
  width: 400px;
  background: #f9fbfc 0% 0% no-repeat padding-box;
  box-shadow: 1px 1px 1px #00000029;
}
.draggable:hover {
  cursor: pointer;
}
